<!DOCTYPE html>
<html>
<head>

     
    <title>home page</title>
    <style>

    ul.bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color:palevioletred;
        overflow: scroll;
    }

    li.baritem {
        float: left;
    }

    li.baritem a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }

    li.baritem a:hover {
        background-color:powderblue;
    }
</style>
</head>
<body>
    <ul class="bar">
        <li class="baritem"><a href="/" target="_self">HOME </a>
        <li class="baritem"><a href="/Fashion">FASHION </a>
         
        <li class="baritem"><a href="/Electronics">ELECTRONICS</a></li>
        <li class="baritem"><a href="/Grocery">GROCERY</a></li>
        <li class="baritem"><a href="/Cosmetics">COSMETICS</a></li>
        <li class="baritem"><a href="/Footwear">FOOTWEAR</a></li>
        <li class="baritem"><a href="/Jewellary">JEWELLARY</a></li>
        <li class="baritem"><a href="/Furniture">FURNITURE</a></li>
    </ul>
    <img src="static\img2.jpeg" width="1500" height="900">
     

    


    
</body>
</html>