<!DOCTYPE html>
<html>
<head>

    <title>online store</title>
    <style>
    
        ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color:palevioletred;
            overflow: scroll;
        }

        li.navitem {
            float: left;
        }

        li.navitem a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li.navitem a:hover {
            background-color:powderblue;
        }
        * {
                box-sizing:border-box ;
            
        }
        .img-container{
            float:left;
            width:14.08%;
            padding:40px;
        }
        .clearfix::after{
            content:"";
            clear:both;
            display:none;
        }
    </style>
</head>
<body>

    <ul class="navbar">
        <li class="navitem"><a href="/" target="_self">HOME</a></li>
        <li class="navitem"><a href="/Categories" target="_self">CATEGORIES</a></li>
        <li class="navitem"><a href="/About">ABOUT</a></li>
        <li class="navitem"><a href="/Contact">CONTACT</a></li>
    </ul>
    <h1 style="font-size:120px;text-align:center;color:deeppink;"><em> JOY MART</em></h1>
    <img src="static\bg1 - Copy.jpeg"  width="1500" height="650">

<div>
    <div class="clearfix">
        <div class="img-container">
            <h1>Fashion</h1>
            <a href="/Fashion" target="_self">Fashion</a>
            <img src="static\img2.jpeg" width="150" height="150">
            <h2>Sales:25k</h2>
            </div>  3
            <div class="clearfix">
                <div class="img-container">
                    <h1>Electronics</h1>
                    <a href="/Electronics" target="_self">Electronics</a> 
                    <img src="static\im3.jpeg" width="150" height="150">
                    <h2>Sales:38k</h2>
                    </div>
                        <div class="clearfix"> 
                            <div class="img-container">
                                <h1>groceries</h1>
                                <a href="/Grocery" target="_self">Grocery</a> 
                                <img src="static\img4.jpeg" width="150" height="150">
                                <h2>Sales:35k</h2>
                                </div>
                                <div class="clearfix">        
                                    <div class="img-container">                           
                        <h1>Cosmetics</h1>
                        <a href="/Cosmetics" target="_self">Cosmetics</a> 
                        <img src="static\img5.jpeg" width="150" height="150">
                        <h2>Sales:40k</h2>
                        </div>
                        <div class="clearfix"> 
                        <div class="img-container">
                            <h1>Footwear</h1> 
                            <a href="/Footwear" target="_self">Footwear</a>
                            <img src="static\img6.jpeg" width="150" height="150">
                            <h2>Sales:30k</h2>
                            </div>
                            <div class="clearfix"> 
                                <div class="img-container">
                                    <h1>Jewellery</h1>
                                    <a href="/Jewellary" target="_self">jewellary</a> 
                                    <img src="static\img7.jpeg" width="150" height="150">
                                    <h2>Sales:45k</h2>
                                    </div>
                                    <div class="clearfix"> 
                                        <div class="img-container">
                                            <h1>Furniture</h1> 
                                            <a href="Furniture" target="_self">Furniture</a>
                                            <img src="static\img8.jpeg" width="150" height="150">
                                            <h2>Sales:20k</h2>
                                            </div>
                                    </div>
                                    </div>
                    </body>
                    </html>





<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Footer Menu -->
<footer id="footer">

		<!-- Company Details -->
		<!-- 1. Address
		2. Contact Number
		3. Enquiry Mail
	-->
		<div class="company-details">
			<div class="row">
				<div id="col1">
					<span id="icon" class="fa fa-map-marker"></span>

					<span>
						ROOM NO:116,KIEW
						<br />KORANGI,KAKINADA
					</span>
				</div>

				<div id="col2">
					<span id="icon" class="fa fa-phone"></span>

					<span>
						Telephone: <br>
                        +91-9676455883<br>
                        +91-7569474176<br>
                        +91-7032542004<br>
                        +91-9100598432<br>
                        +91-9550295546<br>
                        +91-9182023193<br>
                        +91-9573971588<br>
                               
					</span>
				</div>

				<div id="col3">
					<span id="icon" class="fa fa-envelope"></span>
					<span>akhilakalagarla@gmail.com<br></span>
					<span>sivanibatchu4@gmail.com<br></span>
					<span>midathanasatya8@gmail.com<br></span>
					<span>madhusrivamisetti@gmail.com<br></span>
					<span>madhusrivamisetti@gmail.com<br></span>
					<span>malletirupa2003@gmail.com<br></span>
					<span>pavanibollneni17@gmail.com<br></span>
					<span>sravanibera2004@gmail.com<br></span>
				</div>
			</div>
		</div>
		<!-- Copyright Section -->
		<div class="copyright">
			<p> All rights reserved | Backbenchers</p>

			<ul class="contact">

				<li>
					<a href="https://instagram.com/joy_mart_116?igshid=OGQ5ZDc2ODk2ZA==" class="fa fa-instagram">

					</a>
				</li>

				<li>
					<a href="https://www.facebook.com/joymart.2023?mibextid=ZbWKwL" class="fa fa-facebook">

					</a>
				</li>
			</div>
			</ul>
		</div>
	</footer>

</body>
</html>
































