<!DOCTYPE html>
<html>
    <head>
        <title>COSMETICS</title>
        
        <style>
    
            ul.navbar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color:palevioletred;
                overflow: scroll;
            }
    
            li.navitem {
                float: left;
            }
    
            li.navitem a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
    
            li.navitem a:hover {
                background-color:powderblue;
            }
            * {
                    box-sizing:border-box ;
                
            }
            .img-container{
                float:left;
                width:14.08%;
                padding:40px;
            }
            .clearfix::after{
                content:"";
                clear:both;
                display:none;
            }
        </style>
    </head>
    <body>
    
        <ul class="navbar">
            <li class="navitem"><a href="/" target="_self">HOME</a></li>
            <li class="navitem"><a href="/Categories" target="_self">CATEGORIES</a></li>
            <li class="navitem"><a href="/About">ABOUT</a></li>
            <li class="navitem"><a href="/Contact">CONTACT</a></li>
        </ul>
        <style>
            * {
                box-sizing:border-box ;
            
        }
        .img-container{
            float:left;
            width:33.33%;
            padding:5px;
        }
        .clearfix::after{
            content:"";
            clear:both;
            display:table;
        }
        </style>
            <h1>TEMPLE ANTIQUE JEWELLARY</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="  static\jew2.jpeg" width="400" height="500">
                    <p class="card-price">Price:200000</p>
                    <p>Discount:10%</p>
                    
          </div>   
             <div class="clearfix">
                <div class="img-container">
                    <img src=" static\jew3.jpeg " width="400" height="500">
                    <p class="card-price">Price:300000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src=" static\jew 1.jpeg " width="400" height="500">
                    <p class="card-price">Price:350000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jew4.jpeg" width="400" height="500">
                    <p class="card-price">Price:250000</p>
                    <p>Discount:20%</p>
                   
            </div> 
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jew5.jpeg" width="400" height="500">
                    <p class="card-price">Price:150000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jewe1.jpg" width="400" height="500">
                    <p class="card-price">Price:350000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <h1>SIMPLE GOLD CHAINS</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jew8.jpeg" width="400" height="500">
                    <p class="card-price">Price:75000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jew9.jpeg" width="400" height="500">
                    <p class="card-price">Price:85000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jew10.jpeg" width="400" height="500">
                    <p class="card-price">Price:70000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jewe2.jpg" width="400" height="500">
                    <p class="card-price">Price:60000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jewe3.jpg" width="400" height="500">
                    <p class="card-price">Price:95000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jewe4.jpg" width="400" height="500">
                    <p class="card-price">Price:65000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <h1>JHUMKAS</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jhum1.jpeg" width="400" height="500">
                    <p class="card-price">Price:65000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jhum2.jpg" width="400" height="500">
                    <p class="card-price">Price:85000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jhum3.jpg" width="400" height="500">
                    <p class="card-price">Price:80000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jhum4.jpg" width="400" height="500">
                    <p class="card-price">Price:95000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jhum5.jpg" width="400" height="500">
                    <p class="card-price">Price:65000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\jhum6.jpg" width="400" height="500">
                    <p class="card-price">Price:79000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <h1>DAILY USE EARRINGS</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ear1.jpg" width="400" height="500">
                    <p class="card-price">Price:20000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ear2.jpg" width="400" height="500">
                    <p class="card-price">Price:25000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ear3.jpg" width="400" height="500">
                    <p class="card-price">Price:25000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ear4.jpg" width="400" height="500">
                    <p class="card-price">Price:45000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ear5.jpg" width="400" height="500">
                    <p class="card-price">Price:65000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ear6.jpg" width="400" height="500">
                    <p class="card-price">Price:55000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <h1>GOLD BANGLES</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ban1.jpg" width="400" height="500">
                    <p class="card-price">Price:65000</p>
                    <p>Discount:15%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ban2.jpg" width="400" height="500">
                    <p class="card-price">Price:75000</p>
                    <p>Discount:20%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ban3.jpg" width="400" height="500">
                    <p class="card-price">Price:65999</p>
                    <p>Discount:10%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ban4.jpg" width="400" height="500">
                    <p class="card-price">Price:65000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ban5.jpg" width="400" height="500">
                    <p class="card-price">Price:75999</p>
                    <p>Discount:5%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\ban6.jpg" width="400" height="500">
                    <p class="card-price">Price:85000</p>
                    <p>Discount:30%</p>
                   
            </div>
            <h1>RINGS</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\rin1.jpg" width="400" height="500">
                    <p class="card-price">Price:35000</p>
                    <p>Discount:10%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\rin2.jpg" width="400" height="500">
                    <p class="card-price">Price:40000</p>
                    <p>Discount:20%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\rin3.jpg" width="400" height="500">
                    <p class="card-price">Price:30000</p>
                    <p>Discount:15%</p>
                   
                    </div>
           
            <h1>VADDANAM</h1>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\vad1.jpg" width="400" height="500">
                    <p class="card-price">Price:39000</p>
                    <p>Discount:30%</p>
                    
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\vad1.jpg" width="400" height="500">
                    <p class="card-price">Price:39000</p>
                    <p>Discount:30%</p>
                   
            </div>
            <div class="clearfix">
                <div class="img-container">
                    <img src="static\vad3.jpg" width="400" height="500">
                    <p class="card-price">Price:39000</p>
                    <p>Discount:30%</p>
                   
            </div>
            
             </body>
               </html>